.header_of_news_post{
	
	color: #6c757d;
	border-bottom: 2px solid black;
	padding-bottom: 18px;
	position: relative;

}
.one_news_post{
	color: black;
	border-bottom: 2px solid black;
	padding-bottom: 18px;
	
	
}